[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "emailjsr"]
	path = emailjsr
	url = https://github.com/changwoolim/emailjsr
[submodule "executablePackeR"]
	path = executablePackeR
	url = https://github.com/changwoolim/executablepacker
